.margin-container {
	margin-top: 50px;
}
.margin-none {
	margin: 0;
}

.padding-none {
	padding: 0;
}
.auth-custom-message,
.message{
	display: inline-block;
	color: red;
	font-weight: bold;
	padding-top: 1.4em;
}
.error-message {
	color: red;
	font-weight: bold;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.Welcome {
	text-align: center;
}
.Welcome-message {
	display: inline-block;
}
.Welcome-user {
	margin-top: 0;
}